body {
    
    background: grey;
}

.main {
    margin: 0px auto;
    max-width: 1000px;
    background: silver;
}

.menu {
    text-align: right;
    padding: 30px;
    border-bottom: 3px solid white;
}

.menu a {
    width: 150px;
    text-align: center;
    font-size: 1.4em;
    padding: 4px 15px;
    margin: 3px 10px;
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    background: grey;
    border-radius: 10px;
    
}

.highlighted {
    background: DimGray;
}

.offer {
    text-align: center;
    border: 4px double white;
    margin: 20px;
    padding: 15px;
    width: 255px;
    float: left;
}

.offer > h2 {
    text-transform: uppercase;
    font-size: 1.3em;
    display: inline-block;
    
}

#instalments {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    padding: 0px;
    margin-bottom: -5px;
    width: 60px;
}

#price_top {
    color: red;
    transform:rotate(25deg);
    font-size: 1.9em;
    margin: 11px;
    opacity: 0;
}

.image_wraper{
    background: white;
    padding: 5px;
    cursor: pointer;
}

.image_wraper img{
    height: 200px;
}

input {
    width: 33px;
}

button {
    background: green;
    width: 240px;
    height: 40px;
    color: aliceblue;
    font-size: 1.9em
}

.details{
    display: none;
}

footer {
    clear: left;
    text-align: center;
}

footer a {
    margin: 20px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    background: grey;
    text-decoration: none;
    color: aliceblue;
}